<html>
<head>
<title>Facebook</title>
<meta name="description" content="Facebook" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>

<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
/*  margin-top: 20px;
  margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height: 128px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>

</head>

<body>

<div class="container-fluid">

        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group" >
                <a href="/details" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Information
                </a>
                <a href="/pages" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-pencil"></h4><br/>Pages
                </a>
                <a href="/groups" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list"></h4><br/>Groups
                </a>
                <a href="/postArticle" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Submitted
                </a>
                <a href="signout" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-off"></h4><br/>Log out
                </a>
                
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active" style="font-size:20px;" align="left">
                    
    						<h2> Wellcome <%=user.name%>,</h2><br>

    						First Name: <%= user.facebook.first_name%><br/>
    						Last Name : <%= user.facebook.last_name%><br/>
    						Gender : <%= user.facebook.gender%><br/>
    						Email : <%= user.email%><br/>
    						User Name : <%= user.facebook.username%><br/>
    						Facebook : <%= user.facebook.link%><br/>
                <a href="/other"> See Friends </a>

                    
                </div>
                
            </div>
        </div>

</div>



	
</body>


<script src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
function showall(){

              $.ajax({ url : '/test',

                type:'GET',
                success:function(output){
                    console.log(output);
                    $("#page").html("Connected Pages = "+output.pages.length);
                    $("#group").html("Connected Groups = "+output.groups.length);
                    $("#friend").html("Connected Friends = "+output.friends.data.length);
                    
                }


              });	
}


</script>
</html>