<html>
<head>
<title>Facebook</title>
<meta name="description" content="Facebook" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>

<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
/*  margin-top: 20px;
  margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height: 128px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>

</head>

<body>

<div class="container-fluid">

        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group" style="position">
                <a href="" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Friends
                </a>
                <a href="/picture" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-camera"></h4><br/>Picture
                </a>
                <a href="/notification" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-flag"></h4><br/>Notifications
                </a>
                <a href="/details" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-arrow-left"></h4><br/>Back
                </a>
                <a href="signout" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-off"></h4><br/>Log out
                </a>
                
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active" style="font-size:20px;padding-top:50px;" align="left">

                   <h2 align="center"> Facebook Friends : <b><%= friends.data.length%></b></h2>
                    <table class="table table-striped custab">
                          <thead>
                              <tr>
                                  <th>Facebook Name</th>
                                  <th>Facebook Id</th>                                  
                                  
                              </tr>
                          </thead>
                          <%for(var i=0;i<friends.data.length;i++){%>
                                  <tr>
                                      <td><%=friends.data[i].name%></td>
                                      
                                      <td><%=friends.data[i].id%></td>
                                      
                                      
                                  </tr>
                          <%}%>     
                      </table>
                </div>
                
            </div>
        </div>

</div>



	
</body>


<script src="lib/jquery/jquery.min.js"></script>
</html>