<html>
<head>
<title>Facebook</title>
<meta name="description" content="Facebook" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="/lib/bootstrap3/css/bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>

<style>

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
/*  margin-top: 20px;
  margin-left: 50px;*/
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  height: 128px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
</style>

</head>

<body>

<div class="container-fluid">

        <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group" >
                <a href="/details" class="list-group-item  text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Information
                </a>
                <a href="/pages" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-pencil"></h4><br/>Pages
                </a>
                <a href="/groups" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list"></h4><br/>Groups
                </a>
                <a href="/postArticle" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-user"></h4><br/>Submitted
                </a>
                <a href="signout" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-off"></h4><br/>Log out
                </a>
                
              </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active" style="font-size:20px;" align="left">
                    <h1> Post Articles</h1>
                    Article :
                    
                    <textarea name="article" id="article" class="form-control" style="height:400px;"> </textarea>

                    <input type="radio" name="area" onclick="selectArea('Profile')">Profile
                    <input type="radio" name="area" onclick="selectArea('Page')">Page
                    <input type="radio" name="area" onclick="selectArea('Group')">Group
                    
                    <select id="showPage" style="display:none;">
                      <option>Select Page </option>
                      <%for(var i=0;i<pages.data.length;i++){%>
                        <option onclick="page('<%= pages.data[i].id%>','<%= pages.data[i].access_token%>')"><%= pages.data[i].name%></option>
                      <%}%>
                    </select>

                    <select id="showGroup" style="display:none;">
                        <option>Select Group </option>
                      <%for(var i=0;i<groups.data.length;i++){%>
                        <option onclick="group('<%= groups.data[i].id%>')"><%= groups.data[i].name%></option>
                      <%}%>
                    </select>
                    
                    <input type="button" onclick="submitArticle()" class="btn btn-primary pull-right" value="Post Article" style="margin-top:30px"/>

                    
                </div>
                
            </div>
        </div>

</div>

	
</body>


<script src="lib/jquery/jquery.min.js"></script>
<script type="text/javascript">
var chooseArea = "";
var ID="";
var token="";
function submitArticle(){

  var text = $('#article').val();
  $.ajax({ url : '/submitArticle',
    type:'POST',
    data : {
      data:text,
      area:chooseArea,
      areaID:ID,
      token : token

    },
    success:function(output){
        console.log(output);

        
    }


  });
}

function group(value){
  console.log('value')
  var x=value;
  ID =  value;
  alert(ID);
}


function page(value,tkn){
  console.log('value')
  var x=value;
  ID =  value;
  token = tkn;
  alert(ID);
}


function selectArea(area){
  chooseArea = area;
  if(chooseArea == "Profile")
  {
      $("#showPage").css("display","none");
      $("#showGroup").css("display","none");
  }
  else if(chooseArea == "Page")
  {
      $("#showPage").css("display","block");
      $("#showGroup").css("display","none");
  }
  else if(chooseArea == "Group")
  {
      $("#showGroup").css("display","block");
      $("#showPage").css("display","none");
  }
}




</script>
</html>